<p>
<a href="whatsapp://send?text=http://www.cridin.com/2015/12/whatsapp-share-image-button-to-your.html" imageanchor="1">
<img border="0" height="70" src="http://2.bp.blogspot.com/--m_cbTEGz4g/Vl5W3Q8ECeI/AAAAAAAAavI/iSEcVWTqEM4/s1600/whatsapp_share.png" width="110" />
</a>
</p>


<p><a href="whatsapp://send?text=WhatsApp Share Button For Website Refer : http://floating-garden-72361.herokuapp.com" data-action="share/whatsapp/share">Share via Whatsapp</a></p>
