<!DOCTYPE html>
<html>
  <head>
    <title>WhatsappShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        	
<meta property="og:type" content="article">
<meta property="og:title" content="WhatsApp Share Button For Website - Niralar">
<meta property="og:description" content="WhatsApp Share Button for Website will now increase your internet/online marketing &amp; promotions. Here is the code below to add on you website">
<meta property="og:url" content="http://niralar.com/whatsapp-share-button-website/">
<meta property="og:site_name" content="Niralar">
<meta property="article:author" content="https://www.facebook.com/siva01sankar">
<meta property="article:tag" content="html">
<meta property="article:tag" content="html5">
<meta property="article:tag" content="jQuery">
<meta property="article:tag" content="PHP">
<meta property="article:tag" content="WhatsApp">
<meta property="article:tag" content="wordpress">
<meta property="article:section" content="HTML">
<meta property="article:published_time" content="2015-12-06T19:25:13+00:00">
<meta property="article:modified_time" content="2016-04-16T19:30:43+00:00">
<meta property="og:updated_time" content="2016-04-16T19:30:43+00:00">
<meta property="og:image" content="http://bilbareed-staging.s3.amazonaws.com/card_template/image/122/thumb_Bilbareed_-_Finals_-_Visuals___Text_v214.png">
<meta property="og:image:width" content="750">
<meta property="og:image:height" content="410">
</head>
  <body>
    <%= yield %>
  </body>
</html>
